@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Sora:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /* padding: 0.5rem 1rem; */
  /* overflow: hidden; */
  /* text-align: center; */
  background: linear-gradient(#3c1367, #9198e5);
}
